.pageNumbers {
    list-style: none;
    display: flex;
    justify-content: center;
    li {
      padding: 10px;
      cursor: pointer;
      border: 1px solid #ddd;
      color: #0275d8;
      &:hover {
        background-color: rgb(201, 199, 199);
      }
      &.active {
        background-color: #0275d8;
        color: #fff;
      }
      &.disabled {
        background-color: #fff;
        pointer-events: none;
        color: #636c72
      }
      button {
        background-color: #ab6d6d00;
        border: none;
        color: #363535;
        font-size: 1.5rem;
        cursor: pointer;
        font-size: 1.1rem;
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: white;
          color: black;
        }
        &:disabled {
          background-color: white;
          color: black;
          pointer-events: none;
        }
      }
    }
  }
